body {
    font-family: 'Noto Sans', sans-serif;
    margin: 0px;
}

a {
    color: black;
    margin: 2.5px;
}

.blog-wrapper-1 {
    grid-area: main;
}

.blog-title {
    grid-area: title;
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-size: 30px;
    padding-top: 20px;
}

.blog1 {
    float: left;
    width: 200px;
    height: 200px;
    margin: 20px;
    grid-area: main;
    padding-left: 100px;
    padding-top: 50px;
}

article {
    width: 70%;
    font-size: 20px;
    text-align: left;
    line-height: 1.5;
    margin-left: 150px;
    margin-right: 150px;
    padding-top: 50px;
}

footer {
    width: 100%;
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-area: ft;
    padding-top: 75px;
    padding-bottom: 75px;
    background-image: url(full-bloom.png);
}

.social-media-icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-area: sm;
    color: black;
    padding-bottom: 20px;
    background-image: url(full-bloom.png);
}

.lower-footer {
    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    grid-area: sm;
    background-image: url(full-bloom.png);
}

.header {
    grid-area: hd;
    text-align: left;
    background-image: url(full-bloom.png);
    margin-top: -10px;
    padding-bottom: 10px;
    padding-left: 20px;
}

.container {
    width: 100%;
    display: grid;
    grid-template-rows: 75px 50px 500px 100px 100px;
    grid-template-areas: "hd hd hd hd hd hd hd hd" "title title title title title title title title" "main main main main main main main main" "ft ft ft ft ft ft ft ft" "sm sm sm sm sm sm sm sm";
}

a {
    text-decoration: none;
}

@media (max-width: 1201px) {
    .header {
        padding-top: 20px;
        grid-area: hd;
        text-align: left;
    }
    .container {
        width: 100%;
        display: grid;
        grid-template-columns: 1000px;
        grid-template-rows: 100px 100px 900px 100px 100px;
        grid-template-areas: "hd" "title" "main" "ft" "sm ";
    }
}

@media (max-width: 700px) {
    .container {
        display: grid;
        grid-template-columns: 411px;
        grid-template-rows: 150px 100px 1600px 100px 100px;
        grid-template-areas: "hd" "title" "main" "ft" "sm ";
    }
    article {
        font-size: 20px;
        line-height: 1.5;
        padding-top: 10px;
        grid-area: main;
        padding-right: 20px;
    }
    .blog-wrapper-1 {
        width: 75%;
        grid-area: main;
        display: flex;
        flex-direction: column;
        margin-left: -25px;
    }
    .blog1 {
        display: none;
    }
    .header {
        grid-area: hd;
        text-align: left;
        background-image: url(full-bloom.png);
        margin-top: -10px;
        padding-bottom: 10px;
        padding-left: 20px;
    }
}