
body {
    font-family: 'Noto Sans', sans-serif;
}
a { 
    color: black; 
    margin: 2.5px; 
}

.parallax {
    /* The image used */
    background-image: url("https://images.unsplash.com/photo-1571751857110-4d580a33fa1a?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1049&q=80");
  
    /* Set a specific height */
    height: 500px;
  
    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    grid-area: main; 
    }

 .blog-posts {
    width: 400px; 
    height: 300px; 
    padding:  15px; 
    box-shadow: 10px 10px 8px #888888;
    margin: 20px; 
    text-align: center; 
    border-radius: 25px;
    
}

.blog-wrapper {
    grid-area: main2;
    display: flex; 
    justify-content: space-around;
}

.date {
    color: grey; 
    font-size: 15px; 
}

.container { 
    width: 100%; 
    display: grid; 
    grid-template-rows: 100px 500px 50px 250px 100px 50px;
    grid-template-areas: 
      "hd hd hd hd hd hd hd hd"
      "main main main main main main main main"
      "nph nph nph nph nph nph nph nph"
      "main2 main2 main2 main2 main2 main2 main2 main2"
      "ft ft ft ft ft ft ft ft"
      "sm sm sm sm sm sm sm sm";


}
.header {
    grid-area: hd;
    text-align: left;
}

.container > .newest-posts-header {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    grid-area: nph;

}

.footer{
    align-items: center; 
    display: flex; 
    flex-direction: row;
    justify-content: space-evenly;
    grid-area: ft;
  
}

.social-media-icons {
    display:flex; 
    flex-direction: row;
    justify-content: space-evenly;
    grid-area: sm; 
    color: black; 
    
}

.lower-footer {
    align-items: center; 
    display: flex; 
    flex-direction: column;
    align-items: center;
    grid-area: sm;
} 

@media (max-width: 900px) {
    .header {
        grid-area: hd;
        text-align: left;
    }
    .container { 
        width: 100%; 
        display: grid; 
        grid-template-columns: 400px; 
        grid-template-rows: 100px 150px 1000px 100px 50px;
        grid-template-areas: 
          "hd "
          "nph"
          "main"
          "ft"
          "sm ";

    }

    .container > .newest-posts-header {
        align-items: center;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        grid-area: nph;
    
    }

    .blog-posts {

    width: 400px; 
    height: 600px; 
    padding: 20px; 
    box-shadow: 10px 10px 8px #725c5c;
    margin: 20px; 
    text-align: center; 
    
    }

    .blog-wrapper { 
    grid-area: main; 
    display: flex; 
    flex-direction: column;
    align-content: center;
            
    }

    .footer{
        justify-content: space-evenly;
        display: flex; 
        flex-direction: row;
        justify-content: space-around;
        grid-area: ft;
        padding-top: 20px; 
      
    }

    .lower-footer {
        justify-content: space-evenly;
        display: flex; 
        flex-direction: column;
        align-items: center;
        grid-area: sm;
    }
    
    .social-media-icons {
        display:flex; 
        flex-direction: row;
        justify-content: space-evenly;
        grid-area: sm; 
        color: black; 
        
    }

}
